.AboutUs {
    background-color: #222222;
    min-height: 100vh;
    color: whitesmoke !important;

    .AboutUs-container {
        .AboutUs-team {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .AboutUs-title {
                letter-spacing: 2px;
                word-spacing: 2px;
                font-size: 6vh;
                font-weight: 700;
                text-align: center;
                margin-top: 1em;
                margin-bottom: 1.8em;
                background: linear-gradient(-10deg, #29c9b3, purple);
                background-size: 110%;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .AboutUs-contacts {
                width: 90vw;
                display: flex;
                flex-direction: row;
                white-space: nowrap;
                overflow-x: scroll;
                padding: 1em 0;

                .AboutUs-card {
                    width: 100%;
                    max-width: 250px;
                    height: 337px;
                    margin: 0 1em;
                    background-color: #454545;
                    border-radius: 15px;
                    padding: 1.5em;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);

                    .AboutUs-card-picture-container {
                        overflow: hidden;
                        width: 200px;
                        height: 200px;
                        background-color: white;
                        border-radius: 15px;

                        img {
                            height: auto;
                            width: 100%;
                        }
                    }

                    .AboutUs-card-content {
                        padding: 0 0.5em;

                        h1 {
                            position: relative;
                            font-size: 1.2em;
                            font-weight: 600;
                            padding: 1em 0;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.2em;
                        }

                        h1::before {
                            content: '';
                            display: block;
                            position: absolute;
                            background-color: #868686;
                            height: 2px;
                            width: 0%;
                            bottom: 8px;
                            transition: 0.3s ease-in-out;
                        }

                        p {
                            font-size: 0.9em;
                            font-weight: 400;
                        }
                    }
                }

                .AboutUs-card:hover {
                    box-shadow: 0px 0px 15px #55555593;

                    .AboutUs-card-content {
                        h1::before {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .AboutUs-timeline {
            min-height: 100vh;
            color: white;
            padding-top: 30px;
            padding-bottom: 30px;

            .AboutUs-timeline-h1 {
                text-align: center;
                padding: 20px 0px 20px 0px;
                font-size: 6vh;
                font-weight: 700;
                margin-bottom: 2em;
                background: linear-gradient(10deg, purple, #29c9b3);
                background-size: 100% 120%;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .vertical-timeline-element-title {
                text-transform: uppercase;
                font-weight: 600;
                color: black;
            }

            .vertical-timeline-element-subtitle {
                font-weight: normal;
                color: black;
            }
        }

        .AboutUs-footer {
            height: 100%;
            padding: 3.5em 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2em;

            h1 {
                font-size: 2em;
                font-weight: 700;
                word-spacing: 2px;
                letter-spacing: 2px;
                padding-bottom: 1em;
                background: linear-gradient(10deg, #29c9b3, purple);
                background-size: 140% 110%;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            p {
                word-spacing: 2px;
                letter-spacing: 2px;
                text-align: center;
            }

            .separator {
                display: block;
                height: 1px;
                width: 40%;
                background-color: #ffffff;
                margin: 1em 0;
            }

            a {
                text-decoration: underline;
            }
        }
    }
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}