.Help {
    min-height: 100vh;
}

.help-light {
    background-color: #FFFFFF;
    color: #000000;
}

.help-dark {
    background-color: #222222;
    color: #CECECE;
}

.faq-light-image,
.faq-dark-image,
.faq-image-contact-us {
    max-width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    filter: drop-shadow(0 0 0.75rem rgba(86, 86, 86, 0.434));
}

.contact-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FC6976;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #29C9B3;
    }
}

.Lexicon-text-button-light {
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 0.5%;
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.Lexicon-button-light {
    margin-top: 2%;
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.Lexicon-button-light:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
    transform-origin: right;
}

.Lexicon-button-light:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}

.faqs-light {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 5px;
}

.faqs-light .faq-light {
    margin: 15px;
    padding: 15px;
    background: #ECEFF1;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.faqs-light .faq-light:hover {
    background-color: #f3f3f3;
}

.faq-image-contact-us:hover {
    opacity: 0.6
}

.faq-contact-mail {
    max-width: 100%;
    padding: 15px;
    color: #FC6976;
    text-align: center;
}

.faqs-light .faq-light .faq-light-question {
    position: relative;
    font-size: 20px;
    padding-right: 80px;
    transition: all 0.4s ease;
    color: black;
}

.faqs-light .faq-light .faq-light-question::after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    transition: all 0.2s ease;
    color: black;
}

.faqs-light .faq-light .faq-light-answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
}

.faqs-light .faq-light.open .faq-light-answer-divider {
    border-top: 1px solid lightgray;
}

.faqs-light .faq-light.open .faq-light-question {
    margin-bottom: 15px;
    color: black;
}

.faqs-light .faq-light.open .faq-light-question::after {
    content: "-";
    color: black;
}

.faqs-light .faq-light.open .faq-light-answer {
    margin-bottom: 15px;
    max-height: 1000px;
    opacity: 1;
}

.faqs-light .faq-light.open .faq-light-screen:hover {
    opacity: 0.6
}

.faqs-light .faq-light .faq-light-display-linebreak {
    white-space: pre-line;
}

.Lexicon-text-button-dark {
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 0.5%;
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}


.Lexicon-button-dark {
    margin-top: 2%;
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.Lexicon-button-dark:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
    transform-origin: right;
}

.Lexicon-button-dark:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}

.faqs-dark {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 5px;
}

.faqs-dark .faq-dark {
    margin: 15px;
    padding: 15px;
    background: #303030;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.1);
}

.faqs-dark .faq-dark:hover {
    background-color: #3b3b3b;
}

.faqs-dark .faq-dark .faq-dark-question {
    position: relative;
    font-size: 20px;
    padding-right: 80px;
    transition: all 0.4s ease;
    color: rgb(255, 255, 255);
}

.faqs-dark .faq-dark .faq-dark-question::after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    transition: all 0.2s ease;
    color: rgb(255, 255, 255);
}

.faqs-dark .faq-dark .faq-dark-answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
}

.faqs-dark .faq-dark.open .faq-dark-answer-divider {
    border-top: 1px solid lightgray;
}

.faqs-dark .faq-dark.open .faq-dark-question {
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}

.faqs-dark .faq-dark.open .faq-dark-question::after {
    content: "-";
    color: rgb(255, 255, 255);
}

.faqs-dark .faq-dark.open .faq-dark-answer {
    margin-bottom: 15px;
    max-height: 1000px;
    opacity: 1;
}

.faqs-dark .faq-dark.open .faq-dark-screen:hover {
    opacity: 0.6
}

.faqs-dark .faq-dark .faq-dark-display-linebreak {
    white-space: pre-line;
}