.Lexicon {
    min-height: 100vh;
}

.lexicon-light {
    background-color: #FFFFFF;
    color: #000000;
}

.lexicon-dark {
    background-color: #222222;
    color: #CECECE;
}

.Help-text-button-light {
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 0.5%;
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.lexicon-image {
    width: 700px;
    max-width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.Help-button-light {
    margin-top: 2%;
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.Help-button-light:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
    transform-origin: right;
}

.Help-button-light:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}

.faqs {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 5px;
}

.faqs .faq-light {
    margin: 15px;
    padding: 15px;
    background: #ECEFF1;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.faqs .faq-light:hover {
    background-color: #f3f3f3;
}

.faq-light-contact-mail {
    max-width: 100%;
    padding: 15px;
    color: #FC6976;
    text-align: center;
}

.faqs .faq-light .faq-light-question {
    position: relative;
    font-size: 20px;
    padding-right: 80px;
    transition: all 0.4s ease;
    color: black;
}

.faqs .faq-light .faq-light-question::after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    transition: all 0.2s ease;
    color: black;
}

.faqs .faq-light .faq-light-answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
}

.faqs .faq-light .faq-light-answer-divider {
    border-top: 1px solid lightgray;
}

.faqs .faq-light.open .faq-light-question {
    margin-bottom: 15px;
    color: black;
}

.faqs .faq-light.open .faq-light-question::after {
    content: "-";
    color: black;
}

.faqs .faq-light.open .faq-light-answer {
    margin-bottom: 15px;
    max-height: 100px;
    opacity: 1;
    margin: 0 auto;
}

.faqs .faq-light.open .faq-light-screen {
    text-align: center;
    margin-top: 30px;
}

.faqs .faq-light.open .faq-light-screen:hover {
    opacity: 0.6
}

.faqs .faq-light .faq-light-display-linebreak {
    white-space: pre-line;
}

.Help-text-button-dark {
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 0.5%;
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.Help-button-dark {
    margin-top: 2%;
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.Help-button-dark:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
    transform-origin: right;
}

.Help-button-dark:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}

.faqs .faq-dark {
    margin: 15px;
    padding: 15px;
    background: #303030;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.1);
}

.faqs .faq-dark:hover {
    background-color: #3b3b3b;
}

.faq-dark-contact-mail {
    max-width: 100%;
    padding: 15px;
    color: #FC6976;
    text-align: center;
}

.faqs .faq-dark .faq-dark-question {
    position: relative;
    font-size: 20px;
    padding-right: 80px;
    transition: all 0.4s ease;
    color: rgb(255, 255, 255);
}

.faqs .faq-dark .faq-dark-question::after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    transition: all 0.2s ease;
    color: rgb(255, 255, 255);
}

.faqs .faq-dark .faq-dark-answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
}

.faqs .faq-dark .faq-dark-answer-divider {
    border-top: 1px solid darkgray;
}

.faqs .faq-dark.open .faq-dark-question {
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}

.faqs .faq-dark.open .faq-dark-question::after {
    content: "-";
    color: rgb(255, 255, 255);
}

.faqs .faq-dark.open .faq-dark-answer {
    margin-bottom: 15px;
    max-height: 100px;
    opacity: 1;
    margin: 0 auto;
}

.faqs .faq-dark.open .faq-dark-screen {
    text-align: center;
    margin-top: 30px;
}

.faqs .faq-dark.open .faq-dark-screen:hover {
    opacity: 0.6
}

.faqs .faq-dark .faq-dark-display-linebreak {
    white-space: pre-line;
}