.ProcessResult {
    // Body color
    --background-color: none;

    background-color: var(--background-color);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .StartNewProcess-Btn {
        width: 175px;
        height: 40px;
        border-radius: 8px;
        align-items: center;
        justify-content: center;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 1.2rem;
        margin-left: 3%;

        .StartNewProcess-Icon {
            padding-right: 0.5rem;
        }
    }
    
    .StartNewProcess-Btn:hover {
        text-decoration: underline;
    }
}