.Profile {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 3% 10px 3%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 55px);

    .modify-profile-btn {
        width: 175px;
        height: 40px;
        border-radius: 8px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 1.2rem;
        margin-left: 3%;

        .modify-profile-icon {
            padding-right: 0.5rem;
        }
    }
    
    .modify-profile-btn:hover {
        text-decoration: underline;
    }

    .informations-container {
        display: flex;

        .section-container {
            display: flex;
            flex-direction: column;
            border-radius: 8px;
        }

        .main-container {
            @extend .section-container;
            width: 34%;
            margin: 2% 1% 2% 3%;
            padding: 15px;
            justify-content: center;
            align-items: center;

            .text-style-main-container {
                margin-top: 4px;
                font-size: 1.2em;
                letter-spacing: 0.06em;
            }

            .Avatar {
                width: 25%;
                height: auto;
                border-radius: 50%;
            }

            .section-username {
                @extend .text-style-main-container;
            }

            .section-fullname {
                @extend .text-style-main-container;
                display: flex;
                flex-direction: row;

                .fn-name {
                    text-transform: uppercase;
                }

                .fn-firstname {
                    text-transform: capitalize;
                    padding-left: 0.5rem;
                }
            }
        }
        
        .secondary-container {
            @extend .section-container;
            width: 58%;
            margin: 2% 3% 2% 1%;
            padding: 15px 5% 15px 5%;
            display: flex;
            align-items: center;
            font-size: 1.2em;
            letter-spacing: 0.06em;

            .heading {
                margin-top: 2rem;
                font-family: 'Roboto Slab', serif;
                font-size: 1.5em;
                letter-spacing: 0.08em;
                text-transform: uppercase;
            }

            .secondary-row {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;
                
                .section-text {
                    display: flex;
                    width: 60%;
                }

                .secondary-label {
                    display: flex;
                    width: 40%;
                    text-transform: capitalize;
                    justify-content: left;
                }

                .email-text {
                    text-transform: lowercase;
                }

                .address-text, .language-text {
                    text-transform: capitalize;
                }
            }

            hr {
                width: 100%;
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }

    .process-container {
        display: flex;
        flex-direction: column;
        margin: 0 3% 0 3%;
        padding: 10px 3% 10px 3%;
        border-radius: 8px;

        .heading {
            margin-top: 2rem;
            font-size: 1.5em;
            font-weight: bold;
        }

        .Process-Btn {
            border-radius: 8px;
            margin: 4px 0 4px 0;

            :hover {
                border-radius: 8px;
            }

            .process-progress {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 1%;

                :hover {
                    border: none;
                }

                .progress-name {
                    width: 15%;
                }

                .progress-bar {
                    width: 85%;
                    height: 1.5rem;
                    position: relative;
                    margin-left: 1rem;

                    .progress-bar-bg {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 14px;
                    }

                    .progress-bar-front {
                        position: absolute;
                        width: 5%;
                        height: 100%;
                        border-radius: 14px;
                    }
                }
            }
        }
    }
}
        
@media (max-width: 768px) {
    .Profile {
        padding: 0;

        .informations-container {
            flex-direction: column;

            .main-container, .secondary-container {
                width: 100%;
                margin: 10px;
                padding: 15px 8px 15px 8px;

                .secondary-row {
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .secondary-label, .section-text {
                        width: auto;
                    }
                }
            }
        }

        .process-container {
            width: 100%;
            margin: 10px;
            padding: 15px 8px 15px 8px;

            .Process-Btn {
                .process-progress {
                    display: flex;
                    flex-direction: column;
                    .progress-name {
                        width: 100%;
                    }
                    .progress-bar {
                        margin-left: 0;
                        margin-top: 0.5rem;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.Profile-light {
    --text-color: black;
    --secondary-color: #FC6976;
    --background-page: rgb(240, 240, 240);
    --background-box: white;
    --process-button-hover: rgb(252, 252, 252);
    --progress-bar-bg: rgb(240, 240, 240);
    --border-color: white;

    background-color: var(--background-page);
    color: var(--text-color);

    .informations-container {
        .section-container {
            background-color: var(--background-box);
            border: 0.1rem solid var(--border-color);
        }

        .main-container {
            @extend .section-container;

            .text-style-main-container {
                color: var(--text-color);
            }

            .Avatar {
                border: 0.1rem solid var(--border-color);
            }

            .section-username {
                @extend .text-style-main-container;
            }

            .section-fullname {
                @extend .text-style-main-container;
            }
        }
        
        .secondary-container {
            @extend .section-container;

            .heading {
                color: var(--secondary-color);
            }

            .secondary-row {
                .secondary-label {
                    color: var(--secondary-color);
                }
            }

            hr {
                border: 1px solid var(--text-color);
            }
        }
    }

    .process-container {
        background-color: var(--background-box);

        :hover {
            background-color: var(--process-button-hover);
        }

        .process-progress {
            .progress-bar {
                .progress-bar-bg {
                    background-color: var(--progress-bar-bg);
                }

                .progress-bar-front {
                    background-color: var(--secondary-color);
                }
            }
        }
    }
}

.Profile-dark {
    --text-color: white;
    --secondary-color: #FC6976;
    --background-page: rgb(16, 20, 28);
    --background-box: rgb(26, 32, 44);
    --process-button-hover: rgb(35, 43, 59);
    --progress-bar-bg: rgb(16, 20, 28);
    --border-color: rgb(26, 32, 44);

    background-color: var(--background-page);
    color: var(--text-color);

    .informations-container {
        .section-container {
            background-color: var(--background-box);
            border: 0.1rem solid var(--border-color);
        }

        .main-container {
            @extend .section-container;

            .text-style-main-container {
                color: var(--text-color);
            }

            .Avatar {
                border: 0.1rem solid var(--border-color);
            }

            .section-username {
                @extend .text-style-main-container;
            }

            .section-fullname {
                @extend .text-style-main-container;
            }
        }
        
        .secondary-container {
            @extend .section-container;

            .heading {
                color: var(--secondary-color);
            }

            .secondary-row {
                .secondary-label {
                    color: var(--secondary-color);
                }
            }

            hr {
                border: 1px solid var(--text-color);
            }
        }
    }

    .process-container {
        background-color: var(--background-box);

        :hover {
            background-color: var(--process-button-hover);
        }

        .process-progress {
            .progress-bar {
                .progress-bar-bg {
                    background-color: var(--progress-bar-bg);
                }

                .progress-bar-front {
                    background-color: var(--secondary-color);
                }
            }
        }
    }
}