$border-color: #b5b5b5;
$progress-bar-color: #a1a1a194;
$progress-value-color-low: #FC6976;
$progress-value-color-medium: #fc9f69;
$progress-value-color-high: #29c9c6;
$progress-value-color-very-high: #29C9B3;

.Profile {
    padding: 10px 3% 10px 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 55px);
    position: relative;

    .informations-container {
        min-height: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        .section-container {
            display: flex;
            flex-direction: column;
            border-radius: 8px;
        }

        .modify-profile-btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 1rem 0.5rem 1rem;
            border-radius: 8px;
            border: 1px solid $border-color;
            font-size: 16px;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: var(--process-button-hover);
            }

            .modify-profile-icon {
                padding-right: 0.5rem;
            }
        }

        .main-container {
            width: 100%;
            height: 100%;
            max-width: 1600px;
            padding: 16px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 32px;

            .avatar {
                width: 180px;
                height: auto;
                border-radius: 50%;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }

            .section-username {
                @extend .text-style-main-container;
            }

            .section-fullname {
                @extend .text-style-main-container;
                display: flex;
                flex-direction: row;
                margin: 16px 0 0 0;
                font-size: 1.3em;
                font-weight: 700;

                .fn-name {
                    padding-left: 0.5rem;
                    text-transform: capitalize;
                }

                .fn-firstname {
                    text-transform: capitalize;
                }
            }
        }

        .primary-container {
            @extend .section-container;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 32px;

            .avatar-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center
            }

            .process-container {
                display: flex;
                width: 100%;
                min-width: 300px;
                flex-direction: column;
                margin: 0 3% 0 3%;
                padding: 10px 3% 10px 3%;
                border-radius: 8px;
                border: 1px solid $border-color;

                .heading {
                    margin: 1rem 0 1rem 0;
                    padding: 0 8px 0 8px;
                    font-size: 1.3em;
                }

                .no-process {
                    margin: 1rem 0 1rem 0;
                    padding: 0 8px 0 8px;
                }

                .process-btn {
                    border-radius: 8px;
                    margin: 4px 0 4px 0;
                    padding: 0 10px 10px 10px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: var(--process-button-hover);
                    }

                    .process-progress {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 1%;

                        .progress-name {
                            width: 15%;
                        }

                        .progress-bar {
                            width: 85%;
                            height: 1.5rem;
                            position: relative;
                            margin-left: 1rem;

                            .progress-bar-bg {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                border-radius: 14px;
                            }

                            .progress-bar-front {
                                position: absolute;
                                width: 5%;
                                height: 100%;
                                border-radius: 14px;
                            }
                        }
                    }
                }
            }
        }

        .secondary-container {
            @extend .section-container;
            width: 50vw;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 1.1em;
            padding: 16px;
            border: 1px solid $border-color;
            letter-spacing: 0.06em;
            gap: 1rem;

            .heading {
                margin-top: 2rem;
                font-family: 'Roboto Slab', serif;
                font-size: 1.5em;
                letter-spacing: 0.08em;
                text-transform: uppercase;
            }

            .secondary-row {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-left: 8px;
                gap: 0.6rem;

                .section-text {
                    display: flex;
                    width: 60%;
                    line-break: anywhere;
                }

                .secondary-label {
                    font-size: 16px;
                }

                .email-text {
                    text-transform: lowercase;
                }
            }

            hr {
                width: 100%;
            }
        }
    }

    .profile-img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: clamp(300px, 30%, 500px);
        height: auto;
        opacity: 0.6;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }
}

@media (max-width: 768px) {
    .Profile {
        .informations-container {
            .main-container {
                flex-direction: column;
                gap: 16px;

                .avatar {
                    width: 150px;
                }
            }

            .secondary-container {
                width: 80vw;
                gap: 16px;

                .secondary-row {
                    width: 100%;
                    padding-left: 0;

                    .section-text {
                        width: 100%;
                    }
                }
            }
        }

        .secondary-container {
            .modify-profile-btn {
                width: 100%;
                margin-top: 16px;
            }
        }

        .process-container {
            .heading {
                margin: 8px 0 8px 0;
            }

            .process-btn {
                padding: 0 10px 10px 10px;

                .process-progress {
                    padding: 1%;

                    .progress-name {
                        width: 20%;
                    }

                    .progress-bar {
                        width: 80%;
                        height: 1.5rem;
                        position: relative;
                        margin-left: 1rem;

                        .progress-bar-bg {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            border-radius: 14px;
                        }

                        .progress-bar-front {
                            position: absolute;
                            width: 5%;
                            height: 100%;
                            border-radius: 14px;
                        }
                    }
                }
            }
        }

        .profile-img {
            display: none;
        }
    }
}

.Profile-light {
    --text-color: #000000;
    --hr-color: #b5b5b5b0;
    --secondary-color: #FC6976;
    --background-page: #f5f5f5;
    --background-box: #ECEFF1;
    --process-button-hover: #F8F8FA;
    --progress-bar-bg: #FFFFFF;
    --border-color: #ECEFF1;

    background-color: var(--background-page);
    color: var(--text-color);

    .informations-container {
        .section-container {
            background-color: var(--background-box);
        }

        .main-container {
            .text-style-main-container {
                color: var(--text-color);
            }

            .Avatar {
                border: 0.1rem solid var(--border-color);
            }

            .section-username {
                @extend .text-style-main-container;
            }

            .section-fullname {
                @extend .text-style-main-container;
            }
        }

        .secondary-container {
            @extend .section-container;

            .heading {
                color: var(--secondary-color);
            }

            .modify-profile-btn {
                background-color: var(--background-page);
                color: var(--text-color);

                &:hover {
                    background-color: var(--process-button-hover);
                }
            }

            .secondary-row {
                .secondary-label {
                    color: var(--secondary-color);
                }
            }

            hr {
                border: 1px solid var(--hr-color);
            }
        }
    }

    .process-container {
        background-color: var(--background-box);

        .home-content-box-percentages-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 10px;
            padding: 10px 0;
            border-bottom: 1px solid $border-color;

            .home-content-box-percentages-item-top,
            .home-content-box-percentages-item-bottom {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .percentage-value {
                    width: 60px;
                    text-align: center;
                    font-weight: 500;
                    padding: 4px 0;
                    border-radius: 20px;

                    &.percentage-low {
                        background-color: $progress-value-color-low;
                    }

                    &.percentage-medium {
                        background-color: $progress-value-color-medium;
                    }

                    &.percentage-high {
                        background-color: $progress-value-color-high;
                    }

                    &.percentage-very-high {
                        background-color: $progress-value-color-very-high;
                    }
                }

                .progress {
                    width: 100%;
                    height: 10px;
                    border-radius: 5px;
                    background-color: $progress-bar-color;
                    overflow: hidden;

                    .progress-value {
                        height: 100%;

                        &.percentage-low {
                            background-color: $progress-value-color-low;
                        }

                        &.percentage-medium {
                            background-color: $progress-value-color-medium;
                        }

                        &.percentage-high {
                            background-color: $progress-value-color-high;
                        }

                        &.percentage-very-high {
                            background-color: $progress-value-color-very-high;
                        }
                    }
                }
            }

            .home-content-box-percentages-item-border-light {
                border-color: #a1a1a194;
                text-align: left;
            }

            .home-content-box-percentages-item-border-dark {
                border-color: #5f5f5fa6;
                text-align: left;
            }
        }
    }
}

.Profile-dark {
    --text-color: #CECECE;
    --hr-color: #b5b5b583;
    --secondary-color: #FC6976;
    --background-page: #303030;
    --background-box: #222222;
    --process-button-hover: #3b3b3b;
    --progress-bar-bg: #222222;
    --border-color: #303030;

    background-color: var(--background-page);
    color: var(--text-color);

    .informations-container {
        .section-container {
            background-color: var(--background-box);
        }

        .main-container {
            .text-style-main-container {
                color: var(--text-color);
            }

            .Avatar {
                border: 0.1rem solid var(--border-color);
            }

            .section-username {
                @extend .text-style-main-container;
            }

            .section-fullname {
                @extend .text-style-main-container;
            }
        }

        .secondary-container {
            @extend .section-container;

            .heading {
                color: var(--secondary-color);
            }

            .modify-profile-btn {
                background-color: var(--background-page);
                color: var(--text-color);

                &:hover {
                    background-color: var(--process-button-hover);
                }
            }

            .secondary-row {
                .secondary-label {
                    color: var(--secondary-color);
                }
            }

            hr {
                border: 1px solid var(--hr-color);
            }
        }
    }

    .process-container {
        background-color: var(--background-box);

        .home-content-box-percentages-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 10px;
            padding: 10px 0;
            border-bottom: 1px solid $border-color;

            .home-content-box-percentages-item-top,
            .home-content-box-percentages-item-bottom {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .percentage-value {
                    width: 60px;
                    text-align: center;
                    font-weight: 500;
                    padding: 4px 0;
                    border-radius: 20px;

                    &.percentage-low {
                        background-color: $progress-value-color-low;
                    }

                    &.percentage-medium {
                        background-color: $progress-value-color-medium;
                    }

                    &.percentage-high {
                        background-color: $progress-value-color-high;
                    }

                    &.percentage-very-high {
                        background-color: $progress-value-color-very-high;
                    }
                }

                .progress {
                    width: 100%;
                    height: 10px;
                    border-radius: 5px;
                    background-color: $progress-bar-color;
                    overflow: hidden;

                    .progress-value {
                        height: 100%;

                        &.percentage-low {
                            background-color: $progress-value-color-low;
                        }

                        &.percentage-medium {
                            background-color: $progress-value-color-medium;
                        }

                        &.percentage-high {
                            background-color: $progress-value-color-high;
                        }

                        &.percentage-very-high {
                            background-color: $progress-value-color-very-high;
                        }
                    }
                }
            }

            .home-content-box-percentages-item-border-light {
                border-color: #a1a1a194;
            }

            .home-content-box-percentages-item-border-dark {
                border-color: #5f5f5fa6;
            }
        }
    }
}