.Quiz {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6%;
    height: calc(100vh - 55px);

    .Page-Title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .Quiz-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 3%;
        margin: 3%;
        border-radius: 8px;

        .Question-Style {
            font-weight: bold;
            font-size: 1.8rem;
        }

        .Quiz-Select {
            width: 300px;
            max-width: 100%;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.125em;
            border-radius: 5px;
            height: 50px;
            overflow-y: auto;
            padding-left: 0.5em;
            margin-top: 3.5em;
            overflow:hidden; 
            white-space:nowrap; 
            text-overflow:ellipsis;

            option {
                overflow-y: scroll;
            }
        }

        .Submit-btn {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            border: none;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 4px;
            margin-top: 3.5em;

            .Submit-icon {
                font-size: 1.3rem;
                margin-left: 5px;
            }
        }

        .QuizQuestionBtn {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            padding-top: 3em;
            padding-bottom: 5em;

            @mixin Btn-Style {
                display: flex;
                flex-wrap: wrap;
                position: relative;
                border: none;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                border-radius: 4px;
                margin-top: 3.5em;
            }
            .No-btn {
                @include Btn-Style;
            }

            .Yes-btn {
                @include Btn-Style;
            }
        }
    }
}

@media (max-width: 768px) {
    .Quiz {
        margin: 1rem 1rem 1rem 1rem;
        padding: 3%;
    }
}




// LIGHT THEME
.Quiz-light {
    // Body color
    --background-color: rgb(240, 240, 240);
    --text-color: black;
    --background-box: white;
    --no-btn: #FC6976;
    --yes-btn: #29C9B3;
    --border-color: #E8E8E8;
    --quiz-color: grey;

    color: var(--text-color);
    background-color: var(--background-color);

    .Page-Title {
        background-color: var(--background-color);
        color: var(--text-color);
    }

    .Quiz-container {
        background-color: var(--background-box);
        .Quiz-Select {
            border: 1.5px solid var(--border-color);
            color: var(--quiz-color);

            option {
                color: var(--text-color);
            }
        }

        .Submit-btn {
            background-color: var(--yes-btn);
            color: var(--background-box);

            .Submit-icon {
                color: var(--background-box);
            }
        }

        .QuizQuestionBtn {
            @mixin Btn-Style {
                color: var(--background-box);
            }
            .No-btn {
                @include Btn-Style;
                background-color: var(--no-btn);
            }

            .Yes-btn {
                @include Btn-Style;
                background-color: var(--yes-btn);
            }
        }
    }
}




// DARK THEME
.Quiz-dark {
    // Body color
    --background-color: rgb(16, 20, 28);
    --text-color: white;
    --background-box: rgb(26, 32, 44);
    --no-btn: #FC6976;
    --yes-btn: #29C9B3;
    --border-color: #E8E8E8;
    --quiz-color: rgb(170, 170, 170);

    color: var(--text-color);
    background-color: var(--background-color);

    .Page-Title {
        background-color: var(--background-color);
        color: var(--text-color);
    }

    .Quiz-container {
        background-color: var(--background-box);
        .Quiz-Select {
            border: 1.5px solid var(--border-color);
            color: var(--quiz-color);
            background-color: var(--background-color);

            option {
                color: var(--text-color);
            }
        }

        .Submit-btn {
            background-color: var(--yes-btn);
            color: var(--text-color);

            .Submit-icon {
                color: var(--text-color);
            }
        }

        .QuizQuestionBtn {
            @mixin Btn-Style {
                color: var(--background-box);
            }

            .No-btn {
                @include Btn-Style;
                background-color: var(--no-btn);
                color: var(--text-color);
            }

            .Yes-btn {
                @include Btn-Style;
                background-color: var(--yes-btn);
                color: var(--text-color);
            }
        }
    }
}