$primary: #fc5e6d;
$secondary: #29c9b3;
$white: #fff;
$gray: #9b9b9b;

.Register {
    --header-gradient-color-1: #e0fdf7;
    --header-gradient-color-2: #29c9b3;
    --header-gradient-color-3: crimson;
    --header-gradient-color-4: #a5a5a5;
    --header-gradient-color-5: #29c9b3;
    --header-gradient-color-6: purple;
    --header-gradient-color-7: #23d5ab;

    height: 100vh;
    min-height: 600px;
    background: linear-gradient(-90deg,
            var(--header-gradient-color-1),
            var(--header-gradient-color-2),
            var(--header-gradient-color-3),
            var(--header-gradient-color-4),
            var(--header-gradient-color-5)) !important;
    background-size: 400% 130% !important;
    color: white !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .Register-container {
        height: 100%;
        min-height: 700px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }

    .Register-wrapper {
        height: 70%;
        width: 60%;
        max-width: 600px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
        background-color: rgba(18, 18, 18, 0.457);
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 50px 35px;

        .Register-title {
            font-size: 2rem;
            font-weight: bold;
        }

        .Register-submit-button {
            border: solid 2px #e2e2e2;
            border-radius: 5px;
            padding: 10px 15px;
            font-size: 1.1rem;
            margin-top: 16px;
            transition: all 0.3s ease-in-out;
        }

        .disabled {
            border-color: #fc5e6d;
        }

        .Register-submit-button:hover {
            background-color: #FDE0E6;
            color: black;
            border-color: transparent;
        }

        .Register-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .Register-form-group {
                position: relative;
                padding: 15px 0 0;
                width: 60%;
                max-width: 400px;
            }

            .Register-form-field {
                width: 100%;
                border: 0;
                border-bottom: 2px solid $gray;
                outline: 0;
                font-size: 1.1rem;
                color: $white;
                padding: 7px 0;
                background: transparent;
                transition: border-color 0.2s;

                &:required,
                &:invalid {
                    box-shadow: none;
                }

                &::placeholder {
                    color: transparent;
                }

                &:placeholder-shown~.Register-form-label {
                    font-size: 1.3rem;
                    cursor: text;
                    top: 20px;
                }
            }

            .Register-form-label {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                position: absolute;
                width: 100%;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: 1rem;
                color: $gray;
            }

            .Register-form-field:focus {
                ~.Register-form-label {
                    position: absolute;
                    top: 0;
                    display: block;
                    transition: 0.2s;
                    font-size: 1rem;
                    color: $primary;
                    font-weight: 700;
                }

                padding-bottom: 6px;
                font-weight: 700;
                border-width: 3px;
                border-image: linear-gradient(to right, $primary, $secondary);
                border-image-slice: 1;
            }
        }

        .Register-connections {
            width: clamp(200px, 30%, 500px);
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .Register-button-api {
                font-size: 2em;
                border: solid 1.5px white;
                padding: 5px;
                border-radius: 50%;
                transition: all 0.3s ease-out;
            }

            .Register-button-api:hover {
                color: black;
                background-color: #FDE0E6;
            }
        }

        .Register-redirection-to-login {
            padding: 0 10px;
            text-align: center;

            .Register-link {
                a {
                    margin-left: 3px;
                    position: relative;
                }

                a::before {
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    bottom: -4px;
                    z-index: 2;
                    background-color: white;
                    transition: all ease-out 0.4s;
                }
            }

            .Register-link:hover {
                cursor: pointer;

                a::before {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .Register-wrapper {
        width: 80% !important;
        padding: 30px 25px !important;
    }

    .Register-form-group {
        width: 100% !important;
    }

    .Register-connections {
        max-width: none !important;
        width: 70% !important;
    }

    .Register-redirection-to-register {
        text-align: center !important;
    }
}