.Settings {
    // Body color
    --background-color: white;
    color: black;

    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1), 0px 5px 10px 5px rgba(0,0,0,0.2); 
    box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1), 0px 5px 10px 5px rgba(0,0,0,0.2);
    border: 0.1rem solid white;

    .heading-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 20em;
            height: auto;
        }
    }

    .section-container {
        display: flex;
        flex-wrap: wrap;

        .information-container {
            width: 50%;
            padding: 12px;
            
            label {
                padding: 12px 12px 0 0;
                display: inline-block;
            }
            
            input {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                resize: vertical;
                background-color: white;
            }

            ::placeholder {
                color: #888;
            }

            .passwordInput {
                position: relative;
            }

            .passwordInputEye {
                position: absolute;
                top: 28%;
                right: 3%;
                cursor: pointer;
            }
            
            .input-container {
                display: flex;
                flex-wrap: wrap;
                position: relative;

                .edit-input {
                    width: calc(100% - 50px);
                }

                .edit-btn {
                    position: absolute;
                    background-color: #FC6976;
                    height: 100%;
                    top: 0;
                    right: 0;
                    width: 50px;;
                    border-radius: 4px;
                    border: 1px solid #ccc;

                    .edit-icon {
                        color: white;
                        font-size: 1.2rem;
                        width: 100%;
                    }
                }

                .edit-btn:hover {
                    background-color: #ff4a5a;
                    border: 1px solid #ccc;
                }
            }

            .edit-password-btn {
                display: flex;
                flex-wrap: wrap;
                position: relative;
                background-color: #FC6976;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                border-radius: 4px;
    
                .edit-password-icon {
                    color: white;
                    font-size: 1.2rem;
                    margin-left: 5px;
                }
            }

            .delete-account-btn {
                display: flex;
                flex-wrap: wrap;
                position: relative;
                background-color: #FC6976;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                border-radius: 4px;
    
                .delete-account-icon {
                    color: white;
                    font-size: 1.2rem;
                    margin-left: 5px;
                }
            }
            
            .errorPassword {
                color: #9b9b9b;
                font-size: 0.8rem;
                font-weight: bold;
            }

            .avatar-container {
                position: relative;
                vertical-align: middle;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                -webkit-box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1), 0px 5px 10px 5px rgba(0,0,0,0.2); 
                box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1), 0px 5px 10px 5px rgba(0,0,0,0.2);
                border: 0.1rem solid white;
                
                .Avatar {
                    position: relative;
                    top: 0;
                    left: 0;
                    border-radius: 50%;
                }
                
                .ModifImg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, 0.4);
                    padding: 20px;
                }
            }
        }

        @media (max-width: 768px) {
            .information-container {
                width: 100%;
            }
        }
    }

    .heading {
        margin-top: 2rem;
        font-family: 'Roboto Slab', serif;
        font-size: 1.5em;
        letter-spacing: 0.08em;
        color: #FC6976;
        text-transform: uppercase;
    }

    .divider span {
        display: block;
        width: 80%;
        height: 2px;
        background-color: #FC6976;
    }

    .modal-background {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;

        .modal-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 20%;
            left: 20%;
            width: 60%;
            height: 60%;
            background-color: rgb(226, 253, 248);
            z-index: 1000;
            
            /* width */
            ::-webkit-scrollbar {
                width: 10px;
            }
            
            /* Track */
            ::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            
            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #888;
            }
            
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

            .modal-content {
                width: calc(100% - 40px);
                height: calc(100% - 40px);
                padding: 5%;
                background-color: white;
                font-size: 1.5em;
                letter-spacing: 0.06em;
                color: #FC6976;
                -webkit-box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1), 0px 5px 10px 5px rgba(0,0,0,0.2); 
                box-shadow: 0px 10px 10px -7px rgba(0,0,0,0.1), 0px 5px 10px 5px rgba(0,0,0,0.2);
                overflow-y: scroll;

                .divider span {
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: #FC6976;
                }
                
                .modal-button-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    height: 100%;

                    .modal-btn {
                        color: white;
                        width: 25%;
                        height: auto;
                        padding: 10px;
                        margin-top: 10px;
                        border-radius: 4px;
                        -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                    }

                    .modal-cancel-btn {
                        background-color: #FC6976;
                    }

                    .modal-continue-btn {
                        background-color: #29C9B3;
                    }
                }

                .modal-avatar-container {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    .modal-avatar-button {
                        width: 100px;
                        margin: 10px 20px 10px 20px;
                        border-radius: 50%;
                        
                        :hover {
                            cursor: pointer;
                            border: 1px solid black;
                            border-radius: 50%;
                        }
                    }

                    .modal-avatar-cancel-btn-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;

                        .modal-avatar-cancel-btn {
                            color: white;
                            padding: 10px;
                            margin-top: 10px;
                            border-radius: 4px;
                            -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                            background-color: #FC6976;
                        }
                    }
                }
            }

            @media (max-width: 1068px) {
                .modal-content {
                    font-size: 1em;

                    .modal-button-container {
                        flex-direction: column;
                        height: 70%;

                        .modal-btn {
                            width: 80%;
                            padding: 2px;
                        }
                    }
                }
            }
        }
    }
}