.Settings {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 24px 32px;
    min-height: calc(100vh - 55px);

    .title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .heading-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 20em;
            height: auto;
        }
    }

    .settings-container {
        display: flex;
        flex-direction: row;
        width: 100%;

        .choice-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            border-radius: 12px;
            width: 22%;
            min-width: 300px;
            height: 200px;
            font-size: 1.2rem;

            .choice-button {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 8%;
                width: 100%;
                height: 60px;

                .choice-icon {
                    margin-right: 8px;
                    font-size: 1.2rem;
                }
            }
        }

        .section-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            border-radius: 12px;
            width: 78%;
            margin-left: 3%;
            padding: 24px;

            .section-title {
                width: 100%;
                padding: 16px 0 24px 0;
                font-size: 1.5rem;
                font-weight: bold;
            }

            .errorPassword {
                width: 100%;
                padding-left: 10px;
                font-size: 0.8rem;
                font-weight: bold;
            }

            .edit-password-btn {
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                border: none;
                padding: 15px 32px;
                margin-top: 30px;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                border-radius: 4px;

                .edit-password-icon {
                    font-size: 1.2rem;
                    margin-left: 5px;
                }
            }

            .information-container {
                width: 50%;
                padding: 12px;

                label {
                    padding-bottom: 8px;
                    display: inline-block;
                }

                input {
                    width: 100%;
                    padding: 12px;
                    border-radius: 4px;
                    resize: vertical;
                }

                select {
                    width: 100%;
                    padding: 12px;
                    border-radius: 4px;
                    resize: vertical;
                }

                .passwordInput {
                    position: relative;
                }

                .passwordInputEye {
                    position: absolute;
                    top: 28%;
                    right: 3%;
                    cursor: pointer;
                }

                .input-container {
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;

                    .edit-select {
                        width: calc(100% - 50px);
                    }

                    .edit-input {
                        width: calc(100% - 50px);
                    }
                }

                .delete-account-btn {
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    border: none;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    font-size: 16px;
                    border-radius: 4px;

                    .delete-account-icon {
                        font-size: 1.2rem;
                        margin-left: 5px;
                    }
                }
            }

            @media (max-width: 768px) {
                .information-container {
                    width: 100%;

                    .input-container {
                        .edit-select {
                            width: 100%;
                        }

                        .edit-input {
                            width: 100%;
                        }
                    }
                }
            }

            .information-container-avatar {
                @extend .information-container;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;

                .avatar-container {
                    position: absolute;
                    vertical-align: middle;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;

                    .Avatar {
                        position: relative;
                        top: 0;
                        left: 0;
                        border-radius: 50%;
                    }

                    .ModifImg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 50%;
                        padding: 20px;
                        background-color: rgba(0, 0, 0, 0.5);
                        transition: .5s ease;
                    }
                }
            }

            .update-btn-container {
                @extend .information-container;
                width: 100%;
                padding-top: 48px;

                .update-personal-info-btn, .delete-account-btn {
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    border: none;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    font-size: 16px;
                    border-radius: 4px;

                    .update-personal-info-icon {
                        font-size: 1.2rem;
                        margin-top: 2px;
                        margin-left: 5px;
                    }
                }
            }

            .delete-account-btn {
                background-color: #FC6976;
                color: white;

                &:hover {
                    background-color: #cf555f;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .settings-container {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .choice-container {
                width: 100%;
            }

            .section-container {
                margin-left: 0;
                margin-top: 20px;
                width: 100%;
            }
        }
    }

    .heading {
        margin-top: 2rem;
        font-family: 'Roboto Slab', serif;
        font-size: 1.5em;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    }

    .divider span {
        display: block;
        width: 80%;
        height: 2px;
    }

    .modal-background {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;

        .modal-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 15%;
            left: 15%;
            width: 70%;
            height: 70%;
            z-index: 1000;

            /* width */
            ::-webkit-scrollbar {
                width: 10px;
            }

            .modal-content {
                width: calc(100% - 40px);
                height: calc(100% - 40px);
                padding: 5%;
                font-size: 1.5em;
                letter-spacing: 0.06em;
                overflow-y: auto;

                .newParamTxt {
                    color: black;
                    font-size: 0.8em;
                }

                .divider span {
                    display: block;
                    width: 100%;
                    height: 2px;
                }

                .modal-button-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    height: 80%;

                    .modal-btn {
                        width: 25%;
                        height: auto;
                        padding: 10px;
                        margin-top: 10px;
                        border-radius: 4px;
                    }
                }

                .modal-avatar-container {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    .modal-avatar-button {
                        width: 100px;
                        margin: 10px 20px 10px 20px;
                        border-radius: 50%;

                        :hover {
                            cursor: pointer;
                            border-radius: 50%;
                        }
                    }

                    .modal-avatar-cancel-btn-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;

                        .modal-avatar-cancel-btn {
                            padding: 10px;
                            margin-top: 10px;
                            border-radius: 4px;
                        }
                    }
                }
            }

            @media (max-width: 1068px) {
                .modal-content {
                    font-size: 1em;

                    .modal-button-container {
                        flex-direction: column;
                        height: 70%;

                        .modal-btn {
                            width: 80%;
                            padding: 2px;
                        }
                    }
                }
            }
        }
    }
}

.Settings-light {
    --background-color: #ffffff;
    --secondary-color: #FC6976;
    --secondary-color-hover: #cf555f;
    --label-color: black;
    --background-box: #ECEFF1;
    --border-color: #ccc;
    --continue-btn: #29C9B3;
    --continue-btn-hover: #209989;
    --modal-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    --container-shadow: 0px 10px 10px -7px rgba(0, 0, 0, 0.1), 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
    --modal-bg: rgba(0, 0, 0, 0.5);
    --edit-btn-bg: #ff4a5a;
    --error-pwd-color: #9b9b9b;
    --modif-img-bg: rgba(0, 0, 0, 0.4);
    --modal-container-bg: rgb(206, 206, 206);
    --track: #f1f1f1;
    --track-thumb: #888;
    --track-thumb-hover: #555;
    --border-color: rgb(204, 204, 204);
    --background-button-color: #E0FDF7;
    --avatar-hover: rgba(0, 0, 0, 0.8);

    background-color: var(--background-color);

    .choice-container {
        background-color: var(--background-box);
        border: 1px solid var(--border-color);

        .choice-button:hover {
            background-color: var(--background-button-color);
            border-right: 5px solid var(--continue-btn)
        }
    }

    .title {
        color: var(--label-color);
    }

    .section-container {
        background-color: var(--background-box);
        border: 1px solid var(--border-color);

        .errorPassword {
            color: var(--error-pwd-color);
        }

        .edit-password-btn {
            background-color: var(--secondary-color);
            color: var(--background-box);

            .edit-password-icon {
                color: var(--background-box);
            }
        }

        .edit-password-btn:hover {
            background-color: var(--secondary-color-hover);
        }

        .information-container {
            input {
                border: 1px solid var(--border-color);
                background-color: var(--background-box);
            }

            select {
                border: 1px solid var(--border-color);
                background-color: var(--background-box);
            }

            ::placeholder {
                color: var(--track-thumb-hover);
            }

            .input-container {
                .edit-btn {
                    background-color: var(--secondary-color);
                    border: 1px solid var(--border-color);

                    .edit-icon {
                        color: var(--background-box);
                    }
                }

                .edit-btn:hover {
                    background-color: var(--edit-btn-bg);
                    border: 1px solid var(--border-color);
                }
            }

            .delete-account-btn {
                background-color: var(--secondary-color);
                color: var(--background-box);

                .delete-account-icon {
                    color: var(--background-box);
                }
            }

            .avatar-container {
                -webkit-box-shadow: var(--container-shadow);
                box-shadow: var(--container-shadow);
                border: 1px solid var(--background-box);

                .ModifImg {
                    background-color: var(--modif-img-bg);
                }
            }
        }

        .information-container-avatar {
            .avatar-container:hover .ModifImg {
                background-color: var(--avatar-hover);
            }
        }

        .update-btn-container {
            .update-personal-info-btn {
                background-color: var(--continue-btn);
                color: var(--background-box);

                .update-personal-info-icon {
                    color: var(--background-box);
                }
            }

            .update-personal-info-btn:hover {
                background-color: var(--continue-btn-hover);
            }
        }
    }

    .heading {
        color: var(--secondary-color);
    }

    .divider span {
        background-color: var(--secondary-color);
    }

    .modal-background {
        background-color: var(--modal-bg);

        .modal-container {
            background-color: var(--modal-container-bg);

            ::-webkit-scrollbar-track {
                background: var(--track)
            }

            ::-webkit-scrollbar-thumb {
                background: var(--track-thumb)
            }

            ::-webkit-scrollbar-thumb:hover {
                background: var(--track-thumb-hover)
            }

            .modal-content {
                background-color: var(--background-box);
                color: var(--secondary-color);
                -webkit-box-shadow: var(--container-shadow);
                box-shadow: var(--container-shadow);

                .divider span {
                    background-color: var(--secondary-color);
                }

                .modal-button-container {
                    .modal-btn {
                        color: var(--background-box);
                        -webkit-box-shadow: var(--modal-shadow);
                        box-shadow: var(--modal-shadow);
                    }

                    .modal-cancel-btn {
                        background-color: var(--secondary-color);
                    }

                    .modal-continue-btn {
                        background-color: var(--continue-btn)
                    }
                }

                .modal-avatar-container {
                    .modal-avatar-button {
                        :hover {
                            border: 1px solid var(--label-color);
                        }
                    }

                    .modal-avatar-cancel-btn-container {
                        .modal-avatar-cancel-btn {
                            color: var(--background-box);
                            -webkit-box-shadow: var(--modal-shadow);
                            box-shadow: var(--modal-shadow);
                            background-color: var(--secondary-color);
                        }
                    }
                }
            }
        }
    }
}

.Settings-dark {
    --background-color: #303030;
    --secondary-color: #FC6976;
    --label-color: white;
    --background-box: #222222;
    --button-color: white;
    --border-color: rgb(51, 51, 51);
    --continue-btn: #29C9B3;
    --continue-btn-hover: #209989;
    --modal-bg: rgba(122, 122, 122, 0.5);
    --edit-btn-bg: #ff4a5a;
    --error-pwd-color: rgb(170, 170, 170);
    --modif-img-bg: rgba(0, 0, 0, 0.4);
    --modal-container-bg: rgb(16, 20, 28);
    --track: rgb(14, 14, 14);
    --track-thumb: rgb(119, 119, 119);
    --track-thumb-hover: rgb(170, 170, 170);
    --border-color: rgb(204, 204, 204);
    --background-button-color: #E0FDF7;
    --avatar-hover: rgba(0, 0, 0, 0.8);

    background-color: var(--background-color);

    .choice-container {
        background-color: var(--background-box);
        border: 1px solid var(--border-color);

        .choice-button:hover {
            background-color: var(--continue-btn);
            border-right: 5px solid var(--background-button-color)
        }
    }

    .title {
        color: var(--label-color);
    }

    .section-container {
        background-color: var(--background-box);
        border: 1px solid var(--border-color);

        .errorPassword {
            color: var(--error-pwd-color);
        }

        .edit-password-btn {
            background-color: var(--secondary-color);
            color: var(--button-color);

            .edit-password-icon {
                color: var(--button-color);
            }
        }

        .information-container {
            input {
                border: 1px solid var(--border-color);
                background-color: var(--background-box);
            }

            select {
                border: 1px solid var(--border-color);
                background-color: var(--background-box);
            }

            ::placeholder {
                color: var(--track-thumb-hover);
            }

            .input-container {
                .edit-btn {
                    background-color: var(--secondary-color);
                    border: 1px solid var(--border-color);

                    .edit-icon {
                        color: var(--button-color);
                    }
                }

                .edit-btn:hover {
                    background-color: var(--edit-btn-bg);
                    border: 1px solid var(--border-color);
                }
            }

            .delete-account-btn {
                background-color: var(--secondary-color);
                color: var(--button-color);

                .delete-account-icon {
                    color: var(--button-color);
                }
            }

            .avatar-container {
                border: 1px solid var(--button-color);

                .ModifImg {
                    background-color: var(--modif-img-bg);
                }
            }
        }

        .information-container-avatar {
            .avatar-container:hover .ModifImg {
                background-color: var(--avatar-hover);
            }
        }

        .update-btn-container {
            .update-personal-info-btn {
                background-color: var(--continue-btn);
                color: var(--button-color);

                .update-personal-info-icon {
                    color: var(--button-color);
                }
            }

            .update-personal-info-btn:hover {
                background-color: var(--continue-btn-hover);
            }
        }
    }

    .heading {
        color: var(--secondary-color);
    }

    .divider span {
        background-color: var(--secondary-color);
    }

    .modal-background {
        background-color: var(--modal-bg);

        .modal-container {
            background-color: var(--modal-container-bg);

            /* Track */
            ::-webkit-scrollbar-track {
                background: var(--track)
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: var(--track-thumb)
            }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: var(--track-thumb-hover)
            }

            .modal-content {
                background-color: var(--background-box);
                color: var(--secondary-color);

                .divider span {
                    background-color: var(--secondary-color);
                }

                .modal-button-container {
                    .modal-btn {
                        color: var(--button-color);
                    }

                    .modal-cancel-btn {
                        background-color: var(--secondary-color);
                        color: var(--button-color);
                    }

                    .modal-continue-btn {
                        background-color: var(--continue-btn);
                        color: var(--button-color);
                    }
                }

                .modal-avatar-container {
                    .modal-avatar-button {
                        :hover {
                            border: 1px solid var(--label-color);
                        }
                    }

                    .modal-avatar-cancel-btn-container {
                        .modal-avatar-cancel-btn {
                            color: var(--button-color);
                            background-color: var(--secondary-color);
                        }
                    }
                }
            }
        }
    }
}