.Welcome {
    // Header color
    --header-gradient-color-1: #e0fdf7;
    --header-gradient-color-2: #29c9b3;
    --header-gradient-color-3: #dc143c;
    --header-gradient-color-4: #a5a5a5;
    --header-gradient-color-5: #29c9b3;
    --header-gradient-color-6: #800080;
    --header-gradient-color-7: #23d5ab;
    --header-font-color: whitesmoke;

    // Body color
    --background-color: #f5f5f5;
    --separator-color: #90909068;
    --download-button-color: #909090;
    --download-button-hover-color: #d3d3d3;

    background-color: var(--background-color);

    .Header-container {
        background: linear-gradient(-30deg,
                var(--header-gradient-color-1),
                var(--header-gradient-color-2),
                var(--header-gradient-color-3),
                var(--header-gradient-color-4),
                var(--header-gradient-color-5));
        background-size: 500% 130%;
        animation: gradientBackground 40s ease-in-out infinite;
        color: var(--header-font-color);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .Header-description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: sans-serif;
            text-align: center;

            .Header-description-title {
                font-size: 90px;
                font-weight: bold;
                margin-bottom: 40px;
            }

            .Header-description-text {
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                padding: 20px;
                margin-bottom: 80px;
            }

            .Header-description-button {
                background: linear-gradient(70deg,
                        var(--header-gradient-color-6),
                        var(--header-gradient-color-7),
                        var(--header-gradient-color-6));
                background-size: 300%;
                width: 200px;
                height: 80px;
                border-radius: 5px;
                border: none;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 1px;
                margin-top: 20px;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
                transition: 280ms;
            }

            .Header-description-button:hover {
                animation: gradientButton 5s ease-in;
                transform: scale(1.05);
                color: white;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.55);
            }
        }
    }

    .Welcome-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5em;
        margin-bottom: 5em;

        .Welcome-title {
            h1 {
                font-size: 2.3em;
                font-weight: bold;
                color: #000;
                text-align: center;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                letter-spacing: 1px;
                padding: 10px 15px;
            }
        }

        .Welcome-description {
            width: 70vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3vh;
            margin-bottom: 5vh;

            .Welcome-description-cards {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 0 4vh;

                .Welcome-description-card {
                    border-radius: 10px;
                    width: 300px;
                    min-height: 300px;
                    max-height: 400px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 2.5vh;
                    
                    img {
                        height: clamp(100px, 20vw, 200px);
                        width: auto;
                    }

                    span {
                        font-weight: 600;
                        font-size: clamp(1.2em, 2vw, 1.4em);
                        text-align: center;
                        color:#000000 !important;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }
            }

            p {
                margin: 1.8vh 0 3vh 0;
                font-size: 1.2em;
                font-weight: bold;
                color: #000000 !important;
                text-align: center;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                letter-spacing: 1px;
            }
        }

        .Welcome-separator {
            display: block;
            height: 1px;
            width: 80%;
            background-color: var(--separator-color);
        }

        .Welcome-sections {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-left: 5em;
            padding-right: 5em;

            .Welcome-section {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 5em;
                grid-auto-rows: minmax(100px, auto);
                border-radius: 10px;
                margin: 2em 0;
                padding: 10px;

                img {
                    width: 32em;
                    height: auto;
                }

                .Welcome-section-left,
                .Welcome-section-right {
                    color: #000000 !important;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    padding: 10px;
                    max-width: 30em;
                }

                .Welcome-section-right {

                    h4,
                    p {
                        text-align: end;
                        width: 100%;
                    }
                }

                h4 {
                    font-size: 1.3em;
                    font-weight: 600;
                }

                p {
                    font-size: 1.2em;
                    text-align: justify;
                    margin: 0;
                    margin-right: 2em;
                    margin-top: 1em;
                }
            }
        }

        .Welcome-download {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #000000 !important;

            .Welcome-download-title {
                width: 100%;
                text-align: center;
                font-weight: 500;
                font-size: larger;
                padding: 0.5em 0;
            }

            .Welcome-download-links {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 70%;

                .Welcome-download-link {
                    font-size: large;
                    margin-top: 1.5em;
                    padding: 0.5em;
                    border: 1px solid var(--download-button-color);
                    border-radius: 5px;
                    transition: all 350ms ease;
                }

                .Welcome-download-link:hover {
                    border: 1px solid var(--download-button-hover-color);
                    background-color: var(--download-button-hover-color);
                }
            }
        }
    }
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientButton {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 1325px) {
    .Welcome-container {
        .Welcome-section {
            margin-top: 3em !important;
            grid-gap: 0 !important;

            .Welcome-section-left,
            .Welcome-section-right {
                p {
                    margin: 0 !important;
                    margin-top: 1em !important;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .Header-container {
        .Header-description {
            .Header-description-title {
                font-size: 50px !important;
                margin-bottom: 25px !important;
            }

            .Header-description-text {
                font-size: 20px !important;
            }

            .Header-description-button {
                margin-top: 20px !important;
                font-size: 18px !important;
                width: 180px !important;
                height: 55px !important;
            }
        }
    }

    .Welcome-container {
        width: 100% !important;

        .Welcome-sections {
            padding: 1em !important;

            .Welcome-section {
                grid-template-columns: 1fr !important;
                margin: 1em !important;

                .Welcome-section-left,
                .Welcome-section-right {
                    width: 100% !important;
                    display: flex;
                    align-items: center !important;
                    justify-content: center;

                    img {
                        height: auto;
                        max-width: 300px;
                        width: fit-content !important;
                    }

                    p,
                    h4 {
                        word-spacing: 2px;
                        margin: 0 !important;
                        margin-right: 0 !important;
                        margin-top: 1em !important;
                        text-align: justify !important;
                    }
                }
            }
        }

        .Welcome-download {
            .Welcome-download-title {
                font-size: medium !important;
                padding: 0.5em !important;
            }

            .Welcome-download-link {
                margin-top: 1em;
            }
        }
    }

    .Footer-container {
        .Footer-body {
            .Footer-content {
                display: flex !important;
                flex-direction: row !important;
                align-items: center !important;
                justify-content: space-evenly !important;
                grid-gap: 2em !important;

                .Footer-title {
                    flex-direction: column !important;

                    img {
                        height: 60px !important;
                    }
                }
            }
        }
    }
}