* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background: #eee;
  }
  
  .faqs {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 5px;
  }
  
  .faqs .faq {
    margin: 15px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .faq-image {
    width: 700px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .faq-image-contact-us {
    width: 700px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
  }

  .faq-image-contact-us:hover {opacity: 0.6}

  .faq-contact-mail {
    max-width: 100%;
    padding: 15px;
    color: #FC6976;
    text-align: center;
  }

  .faqs .faq .faq-question {
    position: relative;
    font-size: 20px;
    padding-right: 80px;
    transition: all 0.4s ease;
    color: black;
  }
  
  .faqs .faq .faq-question::after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    transition: all 0.2s ease;
    color: black;
  }
  
  .faqs .faq .faq-answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
  }

  .faqs .faq .faq-answer-divider {
    border-top: 1px solid lightgray;
  }
  
  .faqs .faq.open .faq-question {
    margin-bottom: 15px;
    color: black;
  }
  
  .faqs .faq.open .faq-question::after {
    content: "-";
    color: black;
  }
  
  .faqs .faq.open .faq-answer {
    margin-bottom: 15px;
    max-height: 1000px;
    opacity: 1;
    color: #FC6976;
  }

  .faqs .faq.open .faq-screen:hover {opacity: 0.6}
  
  .faqs .faq .faq-display-linebreak {
    white-space: pre-line;
  }