.Home {
  height: 100%;

  .home-content-main-box-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../../public/background.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-image {
    width: clamp(50px, 30%, 200px);
    height: clamp(50px, 30%, 200px);
  }

  .home-container {
    height: 100%;
    width: 100%;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;

    .home-wrapper {
      height: 100%;
      width: 100%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow-y: auto;
    }
  }

  .home-title {
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(-10deg, #29c9b3, #bb00bb);
    background-size: 110%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .home-content-main-box-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../../public/dark-background.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-content-box-percentages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    animation-name: slideInFromLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;

    .percentage-value {
      text-align: center;
      font-weight: bold;
      padding: 8px 0;
      border-radius: 20px;

      &.percentage-low {
        color: #FC6976;
        border: 1px solid #FC6976;
      }

      &.percentage-medium {
        color: #fc9f69;
        border: 1px solid #fc9f69;
      }

      &.percentage-high {
        color: #29c9c6;
        border: 1px solid #29c9c6;
      }

      &.percentage-very-high {
        color: #29C9B3;
        border: 1px solid #29C9B3;
      }

    }

    .home-content-start-process-button {
      background-color: #29C9B3;
      color: white;
      padding: 8px 20px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 20px;
      align-self: center;

      &:hover {
        background-color: #1A9A88;
      }

      @media (max-width: 900px) {
        position: relative;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        bottom: 0;
        transform: translateX(0);
      }
    }
  }

  .home-content-box-calendar {
    height: 90%;
    max-height: 700px;
    width: 100%;
    max-width: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    position: relative;
    padding-bottom: 60px;
    animation-name: slideInFromRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  }

  .home-content-calendar-text {
    font-weight: 500;
    margin-bottom: 5%;
    font-weight: bold;
    padding-left: 1%;
    float: left;
    font-size: 20px;
  }

  .home-content-box-calendar-icon {
    float: left;
    right: 10px;
    position: absolute;
  }

  .home-content-calendar-icon-text {
    font-weight: 500;
    font-size: 100%;
    right: 30px;
    top: 0px;
    position: absolute;
  }

  .home-content-box-calendar-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
  }

  .home-content-nothing-text {
    font-weight: 500;
    padding-top: 10%;
    text-align: center;
    font-size: 150%;
  }

  .home-calendar-button {
    background-color: #29C9B3;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      background-color: #1A9A88;
    }

    @media (max-width: 900px) {
      position: relative;
      width: 100%;
      bottom: 0;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  .home-content-box-rendez-vous {
    width: calc(100% - 20px);
    max-width: 500px;
    z-index: 2;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    justify-content: center;

    .home-content-rendez-vous-date-text {
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 6px;
    }

    .home-content-rendez-vous-process-name-text {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 10px;
    }

    .home-content-rendez-vous-process-description-text {
      font-size: 12px;
    }

    .icon-container {
      display: flex;
      align-items: center;
    }

    .home-content-rendez-vous-button {
      background-color: #29C9B3;
      color: white;
      padding: 8px 20px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 15px;
      align-self: center;

      &:hover {
        background-color: #1A9A88;
      }
    }
  }

  .home-content-box-help-base {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation-name: slideInFromLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  }

  .home-content-help-text {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .home-content-box-help,
  .home-content-box-lexicon {
    width: clamp(100px, 25%, 400px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    margin-top: 15px;
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-5px);
    }

    a {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .home-content-box-help-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .home-content-help-help-text,
  .home-content-help-lexicon-text {
    font-weight: 500;
    font-weight: bold;
    float: left;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .home-help-image {
    width: clamp(50px, 5%, 200px);
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@media (max-width: 900px) {
  .Home {
    height: 100% !important;

    .home-container {
      height: 100% !important;
      flex-direction: column !important;
      align-items: center !important;

      .home-content-box-percentages {
        padding: 10px !important;
      }
    }
  }
}
