/* .Profile-InputGroup {
    background-color: red;
} */

.Profile-Input {
    background-color: #E4E4E4;
    border: none;
    border-radius: 5px;
    height: 30px;
    text-align: 10px;
}

.Profile-Input::placeholder {
    padding-left: 10%;
}

.Profile-ShowPwdBtn {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}

.Profile-UploadImage {
    height: 130px;
    border-radius: 100px;
    border: 5px solid white;
}

.Profile-CalendarButton {
    height: 50px;
    width: 400px;
    background-color: white;
    color: tomato;
    border-color: tomato;
    border-radius: 100px;
}

.Profile-Input-Icon {
    color: #3C3C3C;
}

.Profil-ProcessBox {
    border: 1px solid grey;
    background-color: white;
    width: 100%;
    color: black;
}

.Profil-ProcessBar {
    border-radius: 10px;
}