/* .Profile-InputGroup {
    background-color: red;
} */

.Profile-Input {
    background-color: #E4E4E4;
    border: none;
    border-radius: 5px;
    height: 30px;
    text-align: 10px;
}

.Profile-Input::placeholder {
    padding-left: 10%;
}

.Profile-ShowPwdBtn {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}

.Profile-UploadImage {
    height: 130px;
    border-radius: 100px;
    border: 5px solid white;
}

.Profile-CalendarButton {
    height: 50px;
    width: 40%;
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 100px;
    display: inline-block;
    align-self: flex-end;
}

.Profile-Input-Icon {
    color: #3C3C3C;
}

.Profil-ProcessBox {
    border: 1px solid lightgray;
    background-color: whitesmoke;
    width: 90%;
    color: black;
    border-radius: 10px;
}

.Profil-ProcessBar {
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    width: 70%;
    border: 1px solid lightgray;
}

.Profile-ProcessText {
    margin-top: 25px;
    margin-left: 10%;
    font-weight: bold;
    font-size: larger;
}

.Profile-ProcessDiagText {
    transform: rotate(45deg);
    font-size: xx-small;
}

.ProfilTextLabel {
    margin-left: 20%;
}

.Profile-Calendar-Icon {
    margin-right: 20px;
}