.quiz-select{
    width: 300px;
    max-width: 100%;
    color: black;
    border: 1.5px solid #E8E8E8;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    border-radius: 5px;
  }