$primary: #fc5e6d;
$secondary: #29c9b3;
$white: #fff;
$gray: #9b9b9b;

.ResetPassword {
    --header-gradient-color-1: #494949;
    --header-gradient-color-2: #373737;
    --header-gradient-color-3: #2e2e2e;
    --header-gradient-color-4: #a5a5a5;
    --header-gradient-color-5: #29c9b3;
    --header-gradient-color-6: purple;
    --header-gradient-color-7: #23d5ab;
    --header-font-color: whitesmoke;

    height: 100vh;
    background: linear-gradient(30deg,
            var(--header-gradient-color-1),
            var(--header-gradient-color-2),
            var(--header-gradient-color-3),
            var(--header-gradient-color-4),
            var(--header-gradient-color-5)) !important;
    background-size: 400% 130% !important;
    color: white !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ResetPassword-container {
        height: 70%;
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #29c9b3;
        border-radius: 5px;

        .ResetPassword-container-right {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .ResetPassword-receive-again{
                margin-top: 5%;
                font-size: 0.8rem;
                letter-spacing: 1px;
                word-spacing: 1px;
                text-decoration: underline;
            }
        }

        .ResetPassword-container-left {
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            
            .ResetPassword-images {
                position: relative;
                height: 100%;
                border-radius: 5px;
              }
              .image1 {
                position: relative;
                height: 100%;
                width: auto;
                border-radius: 5px;
              }
              .image2 {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                width: auto;
              }
        }

        .ResetPassword-title-top {
            margin-bottom: 1rem;
            font-size: 2rem;
            font-weight: bold;
            letter-spacing: 1px;
            display: flex;
        }

        .ResetPassword-title {
            margin-bottom: 5rem;
            width: 70%;
            font-size: 1.5rem;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            .ResetPassword-title-icons {
                padding-right: 0.5rem;
            }
        }

        .ResetPassword-box-password {
            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-bottom: 10%;
            .ResetPassword-password-input {
                font-family: inherit;
                width: 80%;
                border: 0;
                border-bottom: 2px solid $white;
                outline: 0;
                font-size: 1.2rem;
                color: $white;
                padding: 7px 0;
                background: transparent;
                transition: border-color 0.2s;
                margin-right: 2%;
    
                &:required,
                &:invalid {
                    box-shadow: none;
                }
    
                &::placeholder {
                    color: #d0d0d0;
                }
    
                &:placeholder-shown~.ResetPassword-email-input {
                    font-size: 1.3rem;
                    cursor: text;
                    top: 20px;
                }
            }

            .ResetPassword-password-input-wrapper {
                position: relative;
            }
              
            .ResetPassword-password-toggle {
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
            cursor: pointer;
            color: #ffffff;
            }
        }

        .ResetPassword-submit-button {
            border: solid 2px #e2e2e2;
            border-radius: 5px;
            padding: 10px 15px;
            font-size: 1.1rem;
            margin-top: 5vh;
            transition: all 0.3s ease-in-out;
        }

        .disabled {
            border-color: #fc5e6d;
        }

        .ResetPassword-submit-button:hover {
            background-color: #FDE0E6;
            color: black;
            border-color: transparent;
        }
    }
}

@media (max-width: 1200px) {
    .ResetPassword {
        background: #29c9b3 !important;
    }
    .ResetPassword-container-right {
        width: 100% !important;
    }

    .ResetPassword-container-left {
        display: none !important;
    }
}