.fp-image {
  width: 300px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.fp-user-email {
  text-align: center;
  width: 100px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  background: #E4E4E4;
  color: black;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.fp-user-email::placeholder{
  color: black;
  opacity: 35%;
}

.fp-button {
  background-color: #FC6976;
  border: none;
  color: white;
  padding: 3px 32px;
  text-align: center;
  font-size: 16px;
  margin: 40px 2px;
  transition: 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}

.fp-button:hover {opacity: 0.6}

.fp-button:active {
  background-color: #FDE0E6;
  opacity: 0.6;
}